
#bsbSidebar1 li a{
    text-decoration: none;
    color: white;
}

#bsbSidebar1{
    background-color: rgb(44, 77, 44);
    color: #d0f1c1;
    padding-top: 1rem;
    max-width: 300px;
}
#bsbSidebar1 .offcanvas-header {
    padding: 20px;
    background: #d0f1c1;
}
#bsbSidebar1 .offcanvas-title {
   color: rgb(44, 77, 44)
}

#bsbSidebar1 ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #d0f1c1; */
    border-bottom: 1px solid #7ff549;
}
#bsbSidebar1 ul.components2{
    border-bottom: none;
    margin-top: -1rem;
 }

#bsbSidebar1 ul p {
    color: #7ff549;
    padding: 10px;
    border-bottom: 2px solid #7ff549;
    /* border-bottom-width: 50%; */
}

#bsbSidebar1 ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#addSubmenu li a, #viewSubmenu li a, #editSubmenu li a, #deleteSubmenu li a, #updateStudentPayment li a, #reportSubmenu li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:black
}
#addSubmenu li, #viewSubmenu li,  #editSubmenu li, #deleteSubmenu li, #updateStudentPayment li, #reportSubmenu li{
    line-height: 1;
}
#addSubmenu li a:hover, #viewSubmenu li a:hover, #editSubmenu li a:hover, #deleteSubmenu li a:hover, #updateStudentPayment li a:hover, #reportSubmenu li a:hover{
    background-color: rgb(44, 77, 44);
}
#bsbSidebar1 ul li a:hover {
    color: #7ff549;
}

#bsbSidebar1 ul li.active > a, a[aria-expanded="true"] {
    color: rgb(44, 77, 44);
    background: #485841;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #d0f1c1;
}
#bsbSidebar1 button.btn-close{
    background-color: rgb(4, 201, 4);
}
.staffadd-form, .studentadd-form, #viewstaff-form, #viewstudent-form, #staffedit-queryform,  #staffupdate-form,
#studentupdate-form, #staffremove-form, #teacherassign-form, #teacher-class, #class-label, #teacher-prg, #programme-label,
#updatescores-form, #reportscores-form, #viewclassscores-form, #promotestudents-form{
    display: none;
}
#cancel-btn:hover, #close-btn:hover, #clearfrm-btn:hover, #closefrm-btn:hover{
color: #74e042;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* add student/staff form styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html, body {
    min-height: 100%;
    }
/* body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    } */
    #studentadd-form h1, #staffadd-form  h1, #staffupdate-form  h1, #studentupdate-form  h1, #addscores-form h1 {
    position: absolute;
    margin: 0;
    font-size: 28px;
    color: #fff;
    z-index: 2;
    }
    #studentadd-form  h2, #staffadd-form  h2, #staffupdate-form  h2, #studentupdate-form  h2, #addscores-form h2 {
    font-weight: 400;
    font-size: 24px;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    /* padding: 20px; */
    }
    form#student-form, form#staff-form, form#staff-formupdate,  form#student-formupdate, form#scoresadd, form#scoresupdate, form#classcoresreport {
    /* width: 80%; */
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 10px 0 #c9cac9; 
    }
    .banner {
    position: relative;
    height: 180px;
    background-color: rgb(42, 87, 42); 
    color: #fff;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4); 
    position: absolute;
    width: 100%;
    height: 100%;
    }
    #studentadd-form input, #studentadd-form select, #staffadd-form input, #staffadd-form select, #staffupdate-form input, #staffupdate-form select, #studentupdate-form input,  #promotestudents-form select,
    #studentupdate-form select, #addscores-form input, #addscores-form select, #updatescores-form input, #updatescores-form select, #reportscores-form select, #reportscores-form input, 
    #teacherassign-form select, #viewclassscores-form select,  #viewclassscores-form input  {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    #studentadd-form input, #staffadd-form input, #staffupdate-form input, #updatescores-form input, #studentupdate-form input, #addscores-form input, #reportscores-form input,
    #viewclassscores-form input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    #studentadd-form select, #staffadd-form select, #staffupdate-form select, #studentupdate-form select, #promotestudents-form select,
    #addscores-form select, #teacherassign-form select, #reportscores-form select, #updatescores-form select, #viewclassscores-form select{
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
    color: rgb(48, 122, 48);
    }
    .item input:hover, .item select:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #768b6d;
    color: #2b7a07;
    }
    .item {
    position: relative;
    margin: 14px 0;
    }
    .item p{
    margin-bottom: 5px;
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    .item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
    }
    .item i {
    right: 2%;
    top: 30px;
    z-index: 1;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    }
    input[type=checkbox]  {
    display: none;
    }
    label.check {
    position: relative;
    display: inline-block;
    margin: 5px 20px 10px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    span.required {
    margin-left: 0;
    color: red;
    }
    label.check:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #5ec52e;
    }
    input[type=checkbox]:checked + .check:before {
    background: #5ec52e;
    }
    label.check:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 8px;
    height: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=checkbox]:checked + label:after {
    opacity: 1;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button#send-btn,  button#submit-btn , button#search-btn, button#update-btn,  button#studupd-btn, 
    button#addcomment-btn, button#addscores-btn, button#updatescores-btn, button#createstudent-btn, button#viewclassreport-btn,
    button#viewreport-btn, button#updatecomment-btn, button#submitscores-btn,  button#closereportform-btn{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #5ec52e;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button#search-btn{
        width: 80px;
        padding: 3px;
    }
    button::-webkit-file-upload-button {
    background: #7ff549;
    }
    button:hover {
    background: #7ff549;
    }
    textarea {
        width: calc(100% - 12px);
        padding: 5px;
        }

        input[type="time"]::-webkit-inner-spin-button {
            margin: 2px 22px 0 0;
            }
            input[type=radio], input.other {
            display: none;
            }
            label.radio {
            position: relative;
            display: inline-block;
            margin: 5px 20px 10px 0;
            cursor: pointer;
            }
            label.radio:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #ccc;
            }
            #radio_5:checked ~ input.other {
            display: block;
            }
            input[type=radio]:checked + label.radio:before {
            border: 2px solid #444;
            background: #444;
            }
            label.radio:after {
            content: "";
            position: absolute;
            top: 7px;
            left: 5px;
            width: 7px;
            height: 4px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            opacity: 0;
            }
            input[type=radio]:checked + label:after {
            opacity: 1;
            }
    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }
    }
    @media (max-width: 767px) {
       #addsubject {
        margin-bottom: -10px;
    }
       .form-label-marks {
        width: 70px;
        line-height: 1.2;
    }
    #student-namebar{
        width: 100%;
        margin-left: 1px;
    }
    }
    @media (max-width: 568px) {
        form#scoresreport #table-report{
            padding-left: 0px;
           max-width:100%;
           /* margin-left: -10px; */
        }
    }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* view staff  and student styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    #viewstaff-form .card, #viewstudent-form .card, #viewclassscores-form .card{
        box-shadow: 0 0 5px 0 #bbbdbb;
    }
    #viewstaff-form .card .card-body h4,  #viewstaff-form .card .card-body .item{
        text-align: center;
    }
     #viewstudent-form .card .card-body h4,  #viewstudent-form .card .card-body .item, #viewstudent-form .card .card-body #search-students {
        text-align: center;
    } 
    #viewstaff-form table thead th, #viewstudent-form table thead th{
       color: #74e042;
    }
    #viewstaff-form table thead, #viewstudent-form table thead{
        border-bottom: 1px solid white;
    }
    #viewstaff-form .table-responsive table tr, #viewstudent-form .table-responsive table tr {
       padding-left: 5px;
    }
    .pagination-color{
        color: #5ec52e;
    }
    .component-active-bg{
        background-color: #2b7a07;
    }
    .component-active-color{
        color: #2b7a07;
    }
   #stud-searchkey{
        background-color: #7ff549;
        color: black;
        border-width: 1px;
    }
    #search-students{
        display:none;
        background-color: #d0f1c1;
    }
    #viewstudent-select:active{
        background-color: #7ff549;
    }

   #viewstudent-form .closebtn-icon,  #viewstaff-form .closebtn-icon, #viewclassscores-form .closebtn-icon{
   position: absolute;
   right: 20px;
}
a.disable {
    background-color: #0c770c;
    pointer-events: none;
    cursor: default;
    cursor: pointer;
    }


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* edit staff  and student styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#staffedit-h2, #assignteacher-h2{
    line-height: 1.5;
}
#staffedit-queryform input{
    margin-bottom: 10px;
}
#submiteditquery-btn, #submitremovequery-btn, #submitassignteacher-btn, #promotestudents-btn{
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #5ec52e;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
#staff-formupdate{
    width: 80%;
}
#staffedit-queryform .closebtn-icon, #staffremove-form .closebtn-icon, #teacherassign-form .closebtn-icon, #promotestudents-form .closebtn-icon {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem
 }
#reportscores-form .closebtn-icon{
    position: absolute;
    right: 2rem;
    top: 0;
}
 #updateit-teacherclass, #upd-teacherclass, #upd-classlabel, #upd-programmelabel, #upd-teacherprogramme, #updateit-teacherprogramme, #upd-staffemail{
    display: none;
 }
 .admno-inputinstr{
    width: 90%;
    font-weight: bold;
    color: #5ec52e;
    line-height: 1.35;
 }
 #updstdclose-icon{
    color: white;
 }
 #teacherassign-form select{
    padding: 7px;
 }

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TEACHER'S PORTAL styles */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#scoresadd .row{
    padding-left: 0.75rem;
}
#student-namebar{
    background-color: #0c520c;
    color: #a3f17f;
    padding: 2px 0;
    /* display: none; */
}
.scores-inputinstr{
    /* font-weight: bold; */
    color: #214710;
    line-height: 1.5;
 }
 
 #addscores-form .row select {
    width: calc(100% - 10px);
 }
 #reportscores-form .row select{
   padding: 9px 7px;
 }

 /* #table-report th:nth-child(2), */
 #table-report th
  {
    width:8rem;
}

#table-report td {
    width:5rem;
}

 .delsubjecticon:hover{
    cursor:pointer;
    color: #57b62b;
 }
 form#scoresreport{
    width: 100%;
 }
 .form-label-marks {
    margin-bottom: 5px;
}



 