body {
	margin: 0;
	padding: 0;
	/* background: rgb(35, 88, 11) ; */
	background-attachment: fixed ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	/* text-transform: ; */
	font-family: 'Abel', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

/* ul, ol {
} */

a {
	text-decoration: none;
	color: #398A12;
}

.d-flex{
    display:flex;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
    border: 1px solid #4f7260;
}
.nav-link{
	color: #181B20;
	font-weight: 500;
	font-size: 16px;
    margin-left: 15px;
}
.nav-link:hover{
	color: rgb(3, 122, 13);
    font-weight: bold;
}
.navbar-brand, .nav-link.active{
    color: #4f7260;
}
.nav-item.active .nav-link {
    position: relative;
  }
 .nav-item.active .nav-link::after {
    content: "";
    position: absolute;
    width: 50px;
    left: 50%;
    height: 2px;
    background-color: #398A12;
    bottom: 8px;
    margin: 0 auto;
    display: block;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
 .nav-item.dropdown.active .nav-link::after {
    height: 0px;
    bottom: 5px;
  }
  
.navbar-nav{
    margin-left: 30px;
}
.dropdown-item:hover{
       background-color:#b1e698;
}
.dropdown-item.current{
    background-color: #ebfaea;
}
/* .dropdown-item.active{
    color: #297423;
    background-color: none;
} */

#header-wrapper {
	background-color: rgb(44, 77, 44);
	/* background-image: url("images/imgsch.jpg"); */
	 background-repeat: no-repeat ;
	 background-attachment: local ;
	background-position: left bottom;	
}
#header-wrapper.homepage-header{
    background: url("../../images/coverimage.jpg") no-repeat fixed center;
}
#welcome h1{
	color: rgb(163, 243, 169);
	text-shadow: 2px 1px 1px rgb(16, 59, 2);
}
#welcome p {
	font-size: 4em;
	color: rgb(163, 243, 169);
	text-shadow: 1px 1px 1px rgb(21, 24, 21);
}

#hero-button, .subscribe-btn, #morenews-btn, .visit-button, .donate-button{
    border-color: #5ec52e;
    color:white;
}
#hero-button:hover, .subscribe-btn:hover, .about-btn:hover{
    background-color: #5ec52e;
}
.motto-arabic{
margin-top: 30px;
margin-bottom: 0px;
}
.vision-misson{
    height: 300px;
    color:#181B20;
    background-color:#c8f1b5;
    text-align: center;
    box-shadow: 1px 1px 3px rgb(16, 59, 2), -1px -1px 3px rgb(16, 59, 2);
    margin: auto;
    max-width: 80%;
}
.vma{
    margin-top: 3em;
}
.vma h5{
    font-weight: bold;
}
.vision{
    border-right: 1px solid black;
}
#header-wrapper button{
    margin-top: 1.5em;
}
.anthem-btn, #morenews-btn{
    font-size: 16px;
   color: #317a10;
   height: 3rem;
   border-radius: 20px;
   background-color: white;
   width: fit-content;
   border: 2px solid #317a10;
}
/* #morenews-btn{
    border: 2px solid #5ec52e;
} */
.anthem-btn:hover, #morenews-btn:hover{
    background-color: #5ec52e;
    color:white;
    border: none;
}
.anthem-container{
   margin-bottom: 30px;
   display:none;
}
.anthem{
    text-align: center;
}
.anthem .c-text{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.anthem .c-text.second{
    margin-bottom: 1rem;
}
.anthem .c-title{
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: bold;
}
.anthem-english{
    margin-top: 0;
}
#anthem-btn-play{
    background-color: #398A12 ;
    color: #ebfaea;
}
.audio-container{
    display: none;
}
.audio-container audio{
    background-color: #398A12;
    height: 50px;
}
.audio-container, .anthem-btn-row{
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}
.displayed{
    display:block;
}
.anthem-play{
    display:block;
     margin-left: auto;
    margin-right: auto;
}
#programmes .card{
    border: 1px solid #317a10;
}
#programmes .card-body a{
    color:#317a10;
}
#news-events .img-fluid{
    height: 200px;
}
#news-events .read-more{
    margin-top: 20px;
}
.morenews-container{
    margin-top: -20px;
}
.footer{
    background-color: rgb(44, 77, 44);
}
.footer a{
    color:#c8f1b5;
}
.widget-title{
    color: white;
    margin-bottom: 1.5rem;
}
.widget p{
    color:#71d443
}
.logo-paragh{
    line-height: 20px;
    margin-top: 10px;
}
.subscribe-btn{
    background-color: #5ec52e;
    color:white;
}
.text-faint, .text-faint a{
    color: #4f7260;
}
.text-faint a:hover{
    color: #b1e698;
    opacity: 0.5;
}

.page-header{
    height: 15rem;
}
.page-header h1{
    text-shadow: 2px 1px 1px rgb(16, 59, 2);
    margin-top: 6rem;
}

/* ==================================================
                    ABOUT US PAGE 
================================================== */

.about-btn{
   background-color: #5ec52e;
}
#support-button{
    font-size: 32px;
    padding: 2px 2rem;
    border-radius: 12px;
}
.about-btn:hover{
    color: white;
}
.about-us .card{
    border-color: #5ec52e;
    background-color: #e1fad4;
    border-radius: 2px;    
}
.about-us .card .card-title{
   font-weight: bold;
}
.about-viewprg{
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}
.qanda-section{
    background-color: #e1fad4;
}
.qanda-section .accordion-button:focus{
    background-color: #c8f1b5;
    border: none;
    outline: none;
    box-shadow: none;
}
.qanda-section .accordion-button:active{
    border: none;
    outline: none;
}
.qanda-section .accordion{
    margin-bottom: 3rem;
}
.accordion-body p{
    margin-bottom: 0.5rem;
}

/* ==================================================
                   PROGRAMMES PAGE 
================================================== */
.programmes-container {
   color: #181B20;
}
.programmes-container h4{
   color: rgb(44, 77, 44);
}
svg.svg-top{
    fill: #5ec52e;
    margin-bottom: 2rem;
}
svg.bi{
    fill: #5ec52e;
}
.programmes-container.prg-con-1{
    margin-bottom: 2rem;
}
.programmes-container .programme-dates{
    text-align: left;
    list-style: none;
    color: #398A12;
    font-weight: 600;
    margin-left: -30px;
}
.programmes-container p{
    text-align: justify;
    margin-bottom: 1rem;
}
.courses{
    background-color: #eef5ed;
}
.border-green{
   border-bottom: 1.5px solid #317a10;
}
#subjects-card-container h2{
color: #317a10;
}
#subjects-card-container .row .card{
height: fit-content;
}
.modal .modal-body p{
    color: #181B20;
    line-height: 1.75;
}
.modal .modal-body span{
    color: #398A12;
}
.modal .modal-footer button{
   background-color: #317a10;
   color: white;
}
/* img {
    height:100%;
} */

/* ==================================================
                    DONATE PAGE 
================================================== */
.donate-section{
    text-align: justify;
    font-size: 16px;
}

.donate-section .visit-button, .donate-section .donate-button{
    background-color: #5ec52e;
    border-radius: 30px;
}
.donate-section span{
    color: #398A12;
    font-weight: bold;
}
.modal .modal-body .acct-details{
    font-weight: bold;
    margin-bottom: 0;
}
.modal .modal-body .acct-details .first-p{
    margin-top: 0;
}

/* ==================================================
                    CALENDAR PAGE 
================================================== */
.green-underline{
    border-bottom: 2px solid green;
}
.term-name{
    padding-bottom: 0.2rem;
}
.ver-line{
    border-right: 1px solid green;
}
.term-name-arabic{
    padding-bottom: 1rem;
}
.ver-line{
    border-right: 1px solid green;
    margin-bottom: 0;
}
.hor-line{
    border-bottom: 1px solid #809188;
}
.bolden{
    font-weight: bold;
}
.sp-heading{
    margin-top: -1rem;
    /* color: #317a10; */
}


/* ==================================================
                    NEWS AND EVENTS PAGE 
================================================== */
.green-text{
    color:#317a10;
}
.news p{
    text-align: justify;
    margin-bottom: 0.5rem;
}
.news a:hover{
text-decoration: underline;
}
.news figure img{
    width:600px;
    height: 350px;
}

/* ==================================================
                    LOGIN PAGE 
================================================== */
.login-bkgd{
margin-top: 10rem;
}
/* ****************** */
.btn-green{
    background-color: #71d443;
    color: white;
}
.btn-green:hover{
    background-color: #71d443;
    color: black;
}

/* ==================================================
                    GALLERY PAGE 
================================================== */
.bsb-project-2-item img{
width: 400px;
height: 250px;
}


/* ==================================================
                    REPORT CARD
================================================== */
.report-heading, .greenbkgd-heading,  .pndpsignatures{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.report-heading h4, .report-heading p{
    margin-bottom: 0;
}
.report-heading p{
    line-height: 1.5;
}
#student-reportcard{
    outline: 4px solid #317a10; 
    /* border: 2px dashed #378015; */
    padding: 16px;
    max-width: 800px;
}
.greenbkgd-heading{
    background-color: #317a10;
    height: 20px;
    padding-top:15px;
}
.detail-left{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}
.detail-left.psign{
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0;
}
.displayflex-col .detail-left-span{
    text-decoration: none;
}
.displayflex-col p{
    line-height: 0.5;
}
.displayflex-col {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.pndpsignatures{
justify-content: space-between;
}
.detail-left-span{
color: rgb(0, 14, 6);
font-weight: 500;
text-decoration: underline;
}

@media (max-width:1199px){
    .detail-right{
        /* display: none; */
    }
    .std-details{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .std-details p{
        width: 90%;
    }
    .left-details, .right-details{
        width: 100%;
    }
    .pndpsignatures{
        flex-direction: column;
        align-items: flex-start;
    }
}

/* ==================================================
                    MEDIA QUERIES 
================================================== */

@media (max-width: 991px) {
    .vision {
     border: none;
     margin-bottom: 20px;
    }
    .qanda-section img{
        display: none;
      }
    .subject-collapse{
        display:none;
    }
  }
 
  @media (min-width: 768px) {
    .arabic-smallscreen{
        display: none;
    }
    #programmes .card-body h3{
        height: 3rem;
        width: 120px;
    }
    #programmes-descr .programmes-container .card-body .p-div{
        max-height: 20rem;
    }
    .pr-0{
        /* margin-left: 1.5em; */
        padding-right: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 991px)  {
    #programmes .card-body p{
        height: 220px;
    }
    .border-green{
        height: 230px;
     }
     .sp-date{
        height:100px;
     }
  }
  @media (min-width: 992px) and (max-width: 1199px)  {
    #programmes .card-body p{
        height: 150px;
    }
    .team-offer-arabic{
        height:295px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px)  {
    .border-green{
        height: 280px;
     }
  }
  @media (max-width: 767px) {
    .vision-misson {
     height: fit-content;
     padding-left: 0rem;
     padding-right: 0rem;
    }
    .anthem-container{
        margin-top: -1rem;
    }
    .anthem .c-text{
        font-size: 1rem;
    }
    .widget-title{
        margin-bottom: 1rem;
    }
    .arabic-bigscreen{
        display: none;
    }
    .about-us img{
        width:50%
    }
    .sp-heading{
        margin-top: 2rem;
        margin-bottom: -1rem;
    }
    .report-heading{
        font-size: 11px;
        text-align: left;
    }
    .report-heading .addrndphone{
        font-size: 11px;
    }
}
@media (min-width:1200px){
    .border-green{
        height: 280px;
     }
     .team-offer-arabic{
        height:260px;
    }
    .detail-left{
        /* position: relative; */
    }
    
    /* .signaturesndremarks .detail-left-span{
        left:27%
     } */
   .dsply-flex{
    display: flex;
    gap: 15px;
   }
}



