body{
	margin:0;
	color:#6a6f8c;
	background:#ebfaea;
    /* background:url(https://images.unsplash.com/photo-1599458349289-18f0ee82e6ed?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGpld2Vscnl8ZW58MHx8MHx8fDA%3D) no-repeat right; */
	/* font:600 16px/18px 'Open Sans',sans-serif; */
}

.login-box{
	width:100%;
	margin:auto;
	max-width:400px;
	min-height:540px;
	position:relative;
    margin-bottom: 3rem;
    color: #a6f8a0;
	/* background:url(images/madrasah1.jpg) no-repeat center; */
	box-shadow:0 12px 15px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-snip{
	width:100%;
	height:100%;
	position:absolute;
	padding:50px 70px 50px 70px;
	background:rgb(70, 105, 70);
}
.login-snip .login,
.login-snip .sign-up-form{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check{
	display:none;
}
.login-snip .tab,
.login-space .group .label,
.login-space .group .button{
	text-transform:uppercase;
}
.login-snip .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab{
	color:#fff;
	border-color:#71d443;
}
.login-space{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-space .group{
	margin-top:20px;
	margin-bottom:15px;
}
.login-space .group .label,
.login-space .group .input,
.login-space .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-space .group .input,
.login-space .group .button{
	border:none;
	padding:12px 20px;
	border-radius:25px;
	background:rgba(105, 139, 117, 0.651);
}
/* .login-space .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
} */
.login-space .group .label{
	color: white;
	font-size:12px;
    padding-bottom: 5px;
}
.login-space .group .button{
	background: #71d443;
    margin-top: 40px;
}
.login-space .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-space .group label .icon:before,
.login-space .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-space .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-space .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-space .group .check:checked + label{
	color:#fff;
}
.login-space .group .check:checked + label .icon{
	background:#71d443;
}
.login-space .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-space .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login{
	transform:rotate(0);
}
.login-snip .sign-up:checked + .tab + .login-space .sign-up-form{
	transform:rotate(0);
}

/* *,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none} */

.hr{
	height:2px;
	margin:20px 0 20px 0;
	background:#bcfa9f;
    opacity: 0.2;
}
.foot{
	text-align:center;
}
.password-change {
    text-align: center;
    font-weight: 100;
    font-size: 12px;
}
.password-change a {
    color: #a6f8a0;
}

::placeholder{
color: #bcfa9f;
opacity: 0.5;
} 
.d-flex{
	position: relative;
}
.password-toggle-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-20%);
	cursor: pointer;
  }
  
  .password-toggle-icon i {
	font-size: 14px;
	line-height: 1;
	color: #71d443;
	transition: color 0.3s ease-in-out;
	margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
	color: #3c6d25;
  }
  